.column {
  width: 272px;
  min-width: 272px;
  height: 100%;
  border-radius: 8px;
  gap: 8px;
  background-color: #d7d7d7;
  padding: 4px;
  overflow: auto;
}

.status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f0d2f;
  height: 60px;
  border-radius: 8px;
  padding: 1rem;
}

.column-name {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.task-count {
  border-radius: 50%;
  background-color: #645dba;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
