.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--bg-header);
  border-bottom: 1px solid var(--border-color-header);
  box-shadow: var(--shadow-sm);
}

.headerTitle {
  color: var(--color-primary);
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-xxl);
}
