.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: var(--spacing-md) var(--spacing-lg);
  height: 64px;
  background-color: var(--bg-header);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  flex: 1;
}

.header-title {
  color: var(--color-primary);
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-xxl);
}

.header-icons {
  display: flex;
  gap: var(--spacing-md);
}
